@using System.Web.UI.WebControls
@model CodeHire.Dtos.ResumeDto
@{
    ViewBag.Title = "Resume Form";
}

<h2>Resume Form</h2>

@using (@Html.BeginForm("Save", "Resume"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Summary)
        @Html.TextBoxFor(m => m.Summary, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Summary)
    </div>
    @Html.Hidden("Id", Model?.Id ?? 0, new { @id = "resumeId" })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Cancel", "Resume", null, new { @class = "btn btn-primary" })
}
<br />
@Html.ActionLink("Add Work History", "JobHistoryForm", "JobHistories", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Add Skills", "Index", "Skills", null, new { @class = "btn btn-primary" })
<br />
<br />
@if (Model != null && Model.Id > 0)
{
    if (Model.WorkHistory.Count > 0)
    {
        <h3>Work History</h3>
        <table id="workHistory" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    }

    if (Model.Skills.Count > 0)
    {
        <h3>Skills</h3>
        <table id="skills" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    }
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @if (Model != null && Model.Id > 0 && Model.WorkHistory.Count > 0)
    {
        @Scripts.Render("~/scripts/pages/ResumeForm.js")
    }
}